html {
    background-image: url("images/bats.gif");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    border: 3px solid black;
    box-shadow: 0 0 15px 5px black;
}

header {
    background: linear-gradient(45deg, white, orange 75%, black);
    border-bottom: 3px solid black;
    padding: 1em;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 1em;
}

header h1 {
    margin: 0;
    font-size: 230%;
}

header h2 {
    margin: 0;
    font-size: 125%;
}

#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
}

#nav_menu ul li {
    width: 20%;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: .8em 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content {
    display: flex;
    min-height: 330px;
}

aside {
    width: 160px;
    padding: 1em 0 1em 1em;
}

#nav_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav_list ul li {
    margin-bottom: .8em;
}

#nav_list ul li a {
    display: block;
    width: 100px;
    padding: .5em;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: orange;
    border: 2px solid black;
}

main {
    flex: 1;
    padding: 1.5em 2em 1em 1em;
}

main h2 {
    margin-top: 0;
    font-size: 200%;
}

main p {
    width: 95%;
    line-height: 1.4;
}

footer {
    border-top: 3px solid black;
    background: linear-gradient(45deg, black, orange, white);
    text-align: center;
    padding: 1em 0;
}